<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReDoMeAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ReDoMeAPI.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=81.177.102.160,27468;Persist Security Info=True;Password=Q123werty!;User ID=redome_user;Initial Catalog=Barber2</value>
            </setting>
            <setting name="WebServicePort" serializeAs="String">
                <value>43210</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>http</value>
            </setting>
        </ReDoMeAPI.Properties.Settings>
    </applicationSettings>
</configuration>